/* --------------- Reset --------------- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-family: Oswald;
  font-size: 3rem;
}
/* --------------- Reset --------------- */
/* --------------- Container --------------- */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  backface-visibility: hidden;
}
.container__link:link,
.container__link:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10rem;
  padding: .5rem 2rem;
  transition: all 0.3s ease-out;
  background: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.801),
    rgba(85, 197, 122, 0.801),
    rgba(40, 180, 133, 0.829)
  );
  color: #eee;
  animation: buttonAnimation 0.6s linear;
  animation-fill-mode: backwards;
  margin-bottom: 1rem;
}
.container__hex-color {
  animation: textAnimation 0.5s 1s ease-out;
  animation-fill-mode: backwards;
}
.container__link:hover {
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  color: #fff;
}
.container__link:active {
  transform: translateY(-0.1rem);
}
/*--- Animations ---*/
@keyframes buttonAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes textAnimation {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
  }
}
/*--- Animations ---*/
@media screen and (min-width: 545px) {
  .container__link:link,
  .container__link:visited {
    font-size: 5rem;
    padding: 2rem 5rem;
  }
  .container__hex-color{
     font-size: 5rem;
  }
}
/* --------------- Container --------------- */
